rem(size)
    (size / 16)rem


.news-detail
    padding rem(10)
    min-height rem(200)
    h3
        font-size rem(24)
        marigin-bottom rem(20)

    .content
        line-height rem(20)
        p
            margin-top rem(10)
            line-height rem(26)
            text-indent rem(32)
