rem(size)
    (size / 16)rem


.news-wrapper
    min-height rem(200)
    .top-banner
        height rem(120)
        width 100%
        border-bottom 1px solid #ccc
        background #f00 url('https://timg01.bdimg.com/timg?tc&size=b625_391&sec=0&quality=75&cut_x=49&cut_y=0&cut_h=0&cut_w=625&di=e560397a3cbaa1008fecf38149ca75ff&src=http%3A%2F%2Fimgsa.baidu.com%2Fnews%2Fq%253D100%2Fsign%3Dbb07ed2046086e066ca83b4b32097b5a%2Fd8f9d72a6059252dd7b46c153e9b033b5bb5b97b.jpg') no-repeat
        background-size 100%

    .news-list
        padding rem(10)

        .news-item
            font-size rem(16)
            padding rem(10)
            line-height rem(16)
            border-bottom 1px solid #ccc
