rem(size)
    (size / 16)rem


.news-wrapper
    min-height rem(200)
    .top-banner
        height rem(120)
        width 100%
        border-bottom 1px solid #eee
        background #fff url('https://t11.baidu.com/it/u=1156182502,3826272400&fm=170&s=E6A0546E0E3B401598013F3803005050&w=640&h=362&img.JPEG&access=215967317') no-repeat
        background-size 100%

    .news-list
        padding rem(10)

        .news-item
            font-size rem(16)
            padding rem(10)
            line-height rem(16)
            border-bottom 1px solid #eee
            h3
                line-height rem(20)
                color #333
            .posts
                margin-top rem(5)
                span
                    display inline-block
                    margin-right 3%
                    width 30%
                    img
                        width 100%
                        display inline-block
            .some-icons
                color #ccc
                margin-right 3%
                margin-top rem(3)
                font-size rem(12)
                .icons
                    color #ef3f41
                    border 1px solid #efb9b9
